
#section1 {
    width:100px;
    height: 100px;
    background: green;
    }

section1::after{
content: url(section1) purple;
height: 100px;
width:50px;
position: relative;
    }

    
